body {
  margin: 0;
  background-color: black;
  position: relative;
  width: 1366px;
  height: 768px;
  overflow: hidden;
}

* {
  font-family: monospace;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 12px;
}

#grid {
  width: 979px;
  height: 663px;
  position: absolute;
  right: 33px;
  top: 51px;
}

.node {
  width: 205px;
  height: 189px;
  border: 3px double white;
  display: inline-block;
  position: relative;
}
.node.margin-top {
  margin-top: 39px;
}
.node.margin-left {
  margin-left: 45px;
}

.node textarea {
  background-color: black;
  color: white;
  resize: none;
  border: none;
  padding: 4px 3px 5px;
  margin: 0;
  border-right: 3px double white;
  width: 151px;
  height: 180px;
}

.arrow {
  background-image: url("img/arrow.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  position: absolute;
}
.arrow.left {
  transform: rotateZ(-90deg);
  bottom: 68px;
  left: -30px;
}
.arrow.right {
  transform: rotateZ(90deg);
  bottom: 102px;
  left: -30px;
}
.arrow.up {
  top: -34px;
  left: 78px;
}
.arrow.down {
  transform: rotateZ(180deg);
  top: -33px;
  left: 117px;
}
